@font-face{
    font-family: "weboff";
    src: url("./../fonts/webof.otf");
}
@font-face{
    font-family: "mont";
    src: url("./../fonts/mont.ttf");
}

/* global */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    outline: none;

    font-family: "weboff";
}

body{
    padding-left: 50px;
    padding-right: 50px;

    background: #f5f5f5;
}

img{
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar{
    width: 0;
}

.btn{
    padding: 10px 20px;

    background: #d97925;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: "mont";

    transition: .5s;
}

.container__footer,
.container__main,
.container__header{
    margin: auto;

    max-width: 1200px;
    width: 100%;
}

.section__heading{
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;

    display: inline-block;
    
    font-size: 32px;
    color: #121212;
}

.section__heading::before{
    content: "";

    position: absolute;
    bottom: -10px;

    height: 2px;
    width: 75%;

    background: #d97925;
}

/* header */

.container__header{
    margin-top: 30px;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    background: #fff;
}

.container__header--logo{
    width: 60px;
    height: 60px;
}

.container__header--list{
    display: flex;
}

.container__header--item:not(:last-child){
    margin-right: 30px;
}

.container__header--link{
    position: relative;

    color: #121212;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    font-family: "mont";

    transition: .5s;
}

.container__header--link:hover{
    color: #d97925;
}

.container__header--link::before{
    content: "";

    position: absolute;
    bottom: -10px;

    height: 2px;
    width: 0%;

    background: #d97925;

    transition: .5s;
}

.container__header--link:hover::before{
    width: 100%;
}

.container__header--btn{
    margin-left: 30px;
}

.container__header--menu{
    display: none;

    font-size: 28px;
    cursor: pointer;

    transition: .5s;
}

.container__header--menu:hover{
    color: #d97925;
}

/* stocks */

.container__stocks--list{
    display: flex;
    flex-wrap: wrap;
}

.container__stocks--item{
    position: relative;
    margin-bottom: 40px;

    flex: 1 1 30%;

    background: #fff;
    border-radius: 10px;

    overflow: hidden;
}

.container__stocks--item:not(:nth-child(3n)){
    margin-right: 30px;
}

.container__stocks--image{
    height: 150px;
}

.container__stocks--heading{
    margin-top: 20px;
    margin-left: 40px;

    display: inline-block;

    font-size: 26px; 
    
    transition: .5s;
}

.container__stocks--description{
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;

    font-family: "mont";
    line-height: 150%;
}

.container__stocks--link{
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 30px;

    display: inline-block;
}

.container__stocks--heading .fa-angle-right{
    margin-left: 10px;

    opacity: 0;
    transition: .5s;
}

.container__stocks--item:hover{
    cursor: pointer;
}

.container__stocks--item:hover .fa-angle-right{
    transform: translateX(20px);
    opacity: 1;
}

.container__stocks--item:hover .fa-angle-right,
.container__stocks--item:hover .container__stocks--heading{
    color: #d97925;
}

.more__stocks{
    position: relative;

    background: url("./../images/stocks_more.jpg");
    background-size: cover;
}

.more__stocks .container__stocks--link{
    position: absolute;
    top: 50%;

    color: #fff;
    font-size: 20px;
    font-family: "mont";

    transform: translateY(-50%);

    transition: .5s;
}

.container__stocks--link .fa-angle-right{
    margin-left: 15px;
    
    transition: .5s;
}

.more__stocks:hover .container__stocks--link{
    color: #d97925;
}

/* search */

.container__search--form{
    padding: 15px 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border-radius: 10px;
}

.container__search--label{
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
}

.container__search--label:not(:last-child){
    margin-right: 30px;
}

.container__search--text{
    margin-bottom: 10px;

    font-size: 12px;
    font-family: "mont";
}

.container__search--input{
    -webkit-appearance: none;

    position: relative;
    padding-bottom: 10px;

    border: none;
    border-bottom: 1px solid transparent;
    background: #fff;
    font-family: "mont";
    font-size: 16px;
    color: #121212;

    transition: .5s;
}

.container__search--input:focus,
.container__search--input:active{
    border-bottom: 1px solid #d97925;
}

.container__search--input::placeholder{
    color: #121212;
}

.container__search--btn{
    border: none;
}

.container__search--input option{
    font-family: "mont";
}

/* about */

.container__about--info{
    padding: 30px;
    margin-bottom: 50px;

    background: #e9e9e9;
    border-radius: 10px;
}

.container__about--list{
    display: flex;
}

.container__about--item{
    flex: 1 1 25%;
}

.container__about--item:not(:last-child){
    margin-right: 30px;
}

.container__about--icon{
    margin: auto;
    padding-top: 5px;
    margin-bottom: 15px;

    width: 100px;
    height: 100px;
    display: block;

    border-radius: 50%;
    border: 2px solid #d97925;
}

.container__about--heading{
    margin-top: 10px;
    margin-bottom: 30px;

    text-align: center;
    font-size: 28px;
}

.container__about--description{
    padding-left: 20px;
    padding-right: 20px;

    font-family: "mont";
    line-height: 150%;
}

.container__about--heading__info{
    font-size: 28px;
    margin-bottom: 30px;
}

.container__about--slogan,
.container__about--purpose{
    margin-bottom: 20px;

    font-family: "mont";
    font-size: 18px;
}

/* subscribe */

.container__subscription--form{
    padding: 15px 30px;

    display: flex;
    justify-content: center;

    background: #fff;
    border-radius: 10px;
}

.container__subscription--input{
    margin-right: 30px;
    padding-left: 20px;

    width: 40%;

    font-family: "mont";
    border: none;
    border-bottom: 1px solid #d97925;
    font-size: 16px;
    color: #121212;
}

.container__subscription--input::placeholder{
    color: #121212;
}

.container__subscription--btn{
    border: none;
}

/* booking */

.container__booking--animation__banner{
    padding: 30px;

    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 10px;
}

.container__booking--content{
    display: flex;

    max-width: 70%;
    width: 100%;

    overflow: hidden;
}

.container__booking--slide{
    display: inline-block;
    width: 100%;
    max-height: 187px;
    height: 100%;

    transition: .5s;
}

.container__booking--slide:not(.active__slide){
    width: 0px;
    height: 0px;
    
    transform: scale(0);
}

.active__slide{
    transform: scale(1);
}

.container__booking--subheading{
    margin-bottom: 10px;

    font-size: 14px;
    font-family: "mont";
}

.container__booking--heading{
    margin-bottom: 15px;

    font-size: 28px;
}

.container__booking--description{
    max-width: 400px;
    width: 100%;

    font-size: 18px;
    font-family: "mont";
    line-height: 150%;
}

.container__booking--arrows{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__booking--arrow__right,
.container__booking--arrow__left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    border: 1px solid #d97925;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;

    transition: .5s;
}

.container__booking--arrow__left{
    margin-right: 30px;
}

.container__booking--arrow__right:hover,
.container__booking--arrow__left:hover{
    background: #d97925;
    color: #fff;
}

/* footer */

.container__footer{
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 30px;

    display: flex;
    justify-content: space-between;

    background: #333;
    border-radius: 10px;
}

.container__footer--list{
    display: flex;
}

.container__footer--link{
    color: #fff;
    text-transform: uppercase;
    font-family: "mont";
}

.container__footer--item:not(:last-child){
    margin-right: 30px;
}

.container__footer--phone{
    color: #fff;
    font-family: "mont";
}

/* search page */

.more__marshrut{
    background: url("./../images/more-mershrut.jpg");
}

.container__stocks--description__list{
    margin-top: 15px;
    margin-left: 40px;

    display: flex;
    flex-direction: column;
}

.container__stocks--description__item:not(:last-child){
    margin-bottom: 5px;
}

.container__stocks--description__item{
    font-family: "mont";
    font-size: 14px;
}

.container__stocks--description__heading{
    font-family: "mont";
    font-size: 16px;
}

.container__stocks--favourite{
    position: absolute;
    right: 20px;
    bottom: 15px;

    color: #d97925;
    cursor: pointer;
}

/* seat */

.marshrut__all{
    margin-right: 0 !important;

    flex: 1 1 100%;
    height: 300px;

    background: url("./../images/marshrut.jpg");
    background-size: cover;
}

.stocks__hover{
    padding-bottom: 30px;

    transition: .5s;
}

.stocks__hover.active__stocks{
    background: #d97925;
    color: #fff;
}

.stocks__hover.active__stocks .container__stocks--heading i,
.stocks__hover.active__stocks .container__stocks--heading{
    color: #fff !important; 
}

.container__stocks--link__booking{
    display: inline-block;
    max-width: 300px;
    width: 100%;

    text-align: center;
}

/* booking */

.container__booking--form{
    padding: 15px 30px;

    background: #fff;
    border-radius: 10px;
}

.container__booking--form__container{
    display: flex;
    flex-wrap: wrap;
}

.booking__input{
    margin-bottom: 25px;

    flex: 1 1 40%;
}

.booking__input .container__search--input{
    border-bottom: 1px solid #d97925;
}

.container__booking--form__container .checkbox__box:not(:nth-child(2n)),
.container__booking--form__container .booking__input:not(:nth-child(2n)){
    margin-right: 30px;
}

.container__booking--form .booking__input{
    margin-right: 0px;
}

.container__booking--form .checkbox__box{
    margin-right: 0;
    margin-bottom: 15px;

    flex: 1 1 40%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.checkbox__input--text{
    margin-bottom: 0;
    margin-left: 15px;
    
    font-size: 14px;
}

.checkbox__input--input{
    position: relative;
    padding-bottom: 0;

    width: 20px;
    height: 20px;

    border: none !important;
}

.checkbox__input--input::before{
    content: "\f00c";

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid #d97925;
    color: #fff;
    border-radius: 4px;

    font-family: "fontAwesome";

    transition: .5s;
}

.checkbox__input--input:checked::before{
    background: #d97925;
}

.box__message{
    margin-bottom: 25px;
}

.input__message{
    padding: 20px;

    height: 140px;

    border: 1px solid #d97925;
    border-radius: 10px;
    line-height: 150%;

    resize: none;
}

.container__booking--form .container__booking--form__container .booking__email{
    margin-right: 0;  
}

.booking__send{
    align-items: flex-end;
}

.container__booking .container__booking--form .container__booking--form__container .booking__final__price{
    margin-right: 30px;
}

/* 980 */

@media (max-width: 980px){
    .container__stocks--item{
        margin-right: 0 !important;

        flex: 1 1 300px;
    }

    .container__stocks--item:not(:nth-child(2n)){
        margin-right: 30px !important;
    }

    .container__footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__footer--phone{
        margin-bottom: 15px;
    }

    .container__about--list{
        flex-wrap: wrap;
    }

    .container__about--item{
        margin-bottom: 30px;

        flex: 1 1 300px;
    }

    .container__search--form{
        flex-wrap: wrap;
    }

    .container__header--nav{
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 50%;
        
        background: #fff;
        box-shadow: 3px 0 10px rgba(0,0,0,.2);

        transform: translateX(-150%);
        opacity: 0;

        transition: .5s;

        z-index: 100;
    }

    .container__header--nav.active__menu{
        transform: translateX(0%);
        opacity: 1;
    }

    .container__header--list{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container__header--btn{
        margin-left: 0;
    }

    .container__header--item{
        margin-right: 0 !important;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .container__header--menu{
        display: inline-block;
    }
}

/* 768 */

@media (max-width: 768px){
    body{
        padding-left: 30px;
        padding-right: 30px;
    }

    .container__stocks--list .container__stocks--item{
        margin-right: 0 !important;

        flex: 1 1 100%;
    }

    .container__footer--list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__footer--item{
        margin-right: 0 !important;
        margin-bottom: 10px;
    }

    .container__booking--slide{
        height: 400px !important;
    }

    .container__booking--animation__banner{
        flex-direction: column-reverse;
    }

    .container__booking--arrows{
        margin-bottom: 15px;
    }

    .container__booking--content{
        max-width: 100%;
    }

    .container__about--item{
        margin-right: 0 !important;
    }

    .container__booking--form__container .checkbox__box,
    .booking__input{
        flex: 1 1 100%;

        margin-right: 0 !important;
    }
}

/* 520 */

@media (max-width: 520px){
    body{
        padding-left: 10px;
        padding-right: 10px;
    }

    .container__subscription--form{
        flex-direction: column;
    }

    .container__subscription--input{
        margin-bottom: 15px;
        padding-bottom: 5px;

        width: 100%;
    }

    .container__booking--form,
    .container__search--form,
    .container__about--info,
    .container__subscription--form,
    .container__booking--animation__banner{
        padding: 10px;
    }

    .container__booking--content,
    .container__booking--slide{
        height: 300px !important;
    }

    .container__search--label{
        margin-bottom: 10px;
        
        flex: 1 1 100%;
    }

    .section__heading{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .container__header--nav{
        width: 75%;
    }
}